<%- include partials/_header.ejs %>
<main>
    <h1><%= title %></h1>
    <a href="/teams/add">Add a Team</a><br />
    <div class="teams">
        <div class="team-header">City</div>
        <div class="team-header">Nickname</div>
        <div class="team-header">Wins</div>
        <div class="team-header">Losses</div>
        <div class="team-header">Options</div>
        <br />
        <hr />
        <% for(var i = 0; i < teams.length; i++) { %>
        <div class="team-row">
            <div class="team-row-child">
                <%= teams[i].city %>
            </div>
            <div class="team-row-child">
                <%= teams[i].nickname %>
            </div>
            <div class="team-row-child">
                <%= teams[i].wins %>
            </div>
            <div class="team-row-child">
                <%= teams[i].losses %>
            </div>
            <div class="team-row-child">
                <a href="/teams/<%= teams[i]._id %>">Edit</a> | <a href="/teams/delete/<%= teams[i]._id %>" class="confirmation">Delete</a>
            </div>
        </div>
        <% } %>
    </div>
</main>
<%- include partials/_footer.ejs %>
